.previaProductoLoader {
	min-width: 400px;
	height: 350px;
	display: block;
	position: relative;
	padding: 10px;
}
.previaProductoLoader:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.previaProductoLoader__imagen {
	min-height: 200px;
	background: var(--bg-previa-producto);
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.previaProductoLoader__imagen::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	animation: cargando 1s linear infinite forwards;
	animation-duration: 8s;
	background: linear-gradient(
		to right,
		var(--bg-previa-producto) 8%,
		var(--border-color) 18%,
		var(--bg-previa-producto) 33%
	);
	opacity: 0.5;
}
@keyframes cargando {
	0% {
		background-position: -769px 0;
	}
	100% {
		background-position: 769px 0;
	}
}
.previaProductoLoader__contenido {
	padding: 5px;
}
.previaProductoLoader__titulo {
	max-width: 300px;
	height: 15px;
	background: var(--bg-previa-producto);
	margin-bottom: 10px;
}
.previaProductoLoader__marca {
	max-width: 150px;
	height: 15px;
	background: var(--bg-previa-producto);
	margin-bottom: 10px;
}
.previaProductoLoader__precio {
	max-width: 230px;
	height: 15px;
	background: var(--bg-previa-producto);
	margin-bottom: 10px;
}
.previaProductoLoader__ahorro {
	max-width: 130px;
	height: 15px;
	background: var(--bg-previa-producto);
	margin-bottom: 10px;
}
.previaProductoLoader__titulo,
.previaProductoLoader__marca,
.previaProductoLoader__precio,
.previaProductoLoader__ahorro {
	overflow: hidden;
  position: relative;
}
.previaProductoLoader__titulo::after,
.previaProductoLoader__marca::after,
.previaProductoLoader__precio::after,
.previaProductoLoader__ahorro::after {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
	display: block;
	width: 100%;
	height: 100%;
	animation: cargando 1s linear infinite forwards;
	animation-duration: 8s;
	background: linear-gradient(
		to right,
		var(--bg-previa-producto) 8%,
		var(--border-color) 18%,
		var(--bg-previa-producto) 33%
	);
	opacity: 0.2;
}
.previaProductoLoader{
  height: fit-content;
}
.grid__bottom.fila .previaProductoLoader{
  min-width: 100%;
}
.grid__bottom.fila .previaProductoLoader__imagen {
  margin-bottom: 0;
}
.grid__bottom.fila .previaProductoLoader__contenido{
  display: grid;
  grid-template-columns: 30% 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding-right: 30px;
}
@media (max-width: 620px) {
  .grid__bottom.fila .previaProductoLoader__contenido{
    grid-template-columns: 1fr 1fr;
  }
}