.productoLoader {
	padding: 40px 30px;
}
.productoLoader__grid {
	display: grid;
	grid-template-columns: 800px 1fr;
	grid-auto-rows: auto;
	row-gap: 40px;
	column-gap: 40px;
}
.productoLoader__left .loader-imagen {
	height: 40vh;
	margin-bottom: 50px;
}
.productoLoader__botones {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}
.productoLoader__botones div {
	width: 96px;
	height: 96px;
	text-align: center;
	transition: var(--transition-3);
	position: relative;
}
.productoLoader__left {
	height: 100%;
}
.productoLoader__left,
.productoLoader__right {
	min-width: 400px;
	display: block;
	position: relative;
}
.productoLoader__1 {
	max-width: 300px;
}
.productoLoader__2 {
	max-width: 150px;
}
.productoLoader__3 {
	max-width: 230px;

	height: fit-content;
}
.productoLoader__4 {
	max-width: 130px;
}
.productoLoader__agregar {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
	column-gap: 20px;
}
.productoLoader__agregar > div {
	height: 40px;
	border-radius: 5px;
}
.productoLoader__bottom {
	margin-top: 50px;
	margin-bottom: 20px;
}
.productoLoader__dflex {
	display: flex;
	row-gap: 25px;
	column-gap: 25px;
}
.productoLoader__dflex > div {
	margin-bottom: 25px;
	height: 20px;
}
@media (max-width: 1500px) {
	.productoLoader__grid {
		grid-template-columns: 600px 1fr;
	}
}
@media (max-width: 1200px) {
	.productoLoader__grid {
		grid-template-columns: 500px 1fr;
	}
}
@media (max-width: 1000px) {
	.productoLoader__grid {
		grid-template-columns: 400px 1fr;
	}
}
@media (max-width: 900px) {
	.productoLoader__grid {
		display: block;
	}
	.productoLoader__right {
		margin-top: 30px;
	}
}
